fastapi
uvicorn[standard]
pydantic
pydantic-settings
loguru
httpx
kubernetes

# Authentication & PostgreSQL
sqlalchemy
psycopg2-binary
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
email-validator
kubernetes
